.user-search-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 100;
}

.user-search-bar {
    border: 1px solid black;
    height: 100px;
    margin-bottom: 20px;
}

.user-search-bar input {
    width: 25%;
    height: 40px;
    margin-top: 16px;
    padding: 10px;
    font-size: 20px;
}

.user-search-bar button {
    width: 100px;
    height: 65px;
    font-size: 20px;
    background-color: #0a4abf;
    color: white;
    border: none;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: #0a4abf;
    border: 3px solid;
    padding: 5px 7px;
    border-radius: 50%;
}

.close:hover {
    cursor: pointer;
}

.search-result {
    border: 1px solid;
    overflow-y: scroll !important;
    height: 800px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    height: 200px;
    width: calc(100% - 40px);
    margin: 0px 10px;
}

.name,
.user-contact,
.member-info {
    border: 1px solid;
    height: 100%;
    width: 33.33%;
}